In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
data=pd.read_csv('iris.csv')

In [33]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [34]:
data['variety'].value_counts()

Virginica     50
Versicolor    50
Setosa        50
Name: variety, dtype: int64

In [35]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data['class']=l.fit_transform(data['variety'])

In [36]:
data.drop('variety',axis=1,inplace=True)

In [37]:
data['class'].value_counts()

2    50
1    50
0    50
Name: class, dtype: int64

In [38]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [42]:
y=data['class']
X=data.drop('class',axis=1)

In [43]:
#split data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [44]:
#train model(KNN)
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [45]:
#predict
y_pred=knn.predict(X_test)

In [46]:
#accuracy
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)
print(acc)

0.9736842105263158