In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#load dataset
data=pd.read_csv('iris.csv')

In [7]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
data.shape

(150, 5)

In [22]:
#distance calculation
def distance(x1,x2,length):
    d=0
    for i in range(length):
        d=d+((x1[i]-x2[i])**2)
    dist=np.sqrt(d)
    return dist

In [47]:
data.iloc[0][4]

'Setosa'

In [59]:
def calculateknn(traindata,k,xquery):
    #calculate distances of all datapoints from querypoint(xquery)
    r,c=traindata.shape
    neighbors={}
    for i in range(r):
        dist=distance(xquery,traindata.iloc[i],c-2)
        neighbors[dist]=traindata.iloc[i][c-1]
    sorted_dict=(sorted(neighbors.items()))
    #from sorted list get k nearest neighbours
    k_nearest=[]
    for i in range(k):
        k_nearest.append(sorted_dict[i][1])
    #get frequently occuring class label(majority count)
    freq={}
    for i in range(k):
        label=k_nearest[i]
        if label in freq.keys():
            freq[label]+=1
        else:
            freq[label]=1
    ans=""
    count=0
    for key,value in freq.items():
        if value>count:
            count=value
            ans=key
    #return classlabel
    return ans

In [100]:
#split data into training,testing and cross validation
r,c=data.shape
#80% of total_data
tr=(int)((0.8)*r)
train_data=data.iloc[:tr]
test_data=data.iloc[tr:]

In [101]:
train_data.shape

(120, 5)

In [102]:
test_data.shape

(30, 5)

In [103]:
test=test_data.drop('variety',axis=1)

In [104]:
test.head()

     sepal.length  sepal.width  petal.length  petal.width
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1

In [105]:
r,c=test_data.shape
predicted=[]
#let k=5
for i in range(r):
    dis=calculateknn(train_data,5,test.iloc[i])
    predicted.append(dis)
print(predicted)

['Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Virginica', 'Virginica', 'Versicolor', 'Virginica', 'Virginica', 'Versicolor']

In [109]:
print(test_data['variety'])

120    Virginica
121    Virginica
122    Virginica
123    Virginica
124    Virginica
125    Virginica
126    Virginica
127    Virginica
128    Virginica
129    Virginica
130    Virginica
131    Virginica
132    Virginica
133    Virginica
134    Virginica
135    Virginica
136    Virginica
137    Virginica
138    Virginica
139    Virginica
140    Virginica
141    Virginica
142    Virginica
143    Virginica
144    Virginica
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, dtype: object

Our predicted values are almost similar